s
.container-fluid {
  position: absolute;
  margin: 0;
  padding: 0;
  animation:  transitionIn 0.75s;
}

#bg-image {
 /* The image used */
 background-image: url("/assets/IU/Menu/menubg.png");
 /* Full height */
 height: 100vh;

 /* object-fit: cover; */
 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 z-index: 0;

}


/* Menu Icon */

.photogallery img{
  position: absolute;
  top: 16%;
  left: 8%;
  width: 104px !important;
  height:62px !important;
  /* Safari */
  -webkit-transform: rotate(10deg);  
  /* Standard syntax */	
  transform: rotate(10deg);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50); */

}

.musicvideo img{
  position: absolute;
  top: 23%;
  left: 44%;
  width: 113px !important;
  height: 96px !important;
    /* Safari */
    -webkit-transform: rotate(-11deg);  
    /* Standard syntax */	
    transform: rotate(-11deg);
}

.movies img{
  position: absolute;
  top: 44%;
  left: 17%;
  width: 199px !important;
  height: 78px !important;
      /* Safari */
      -webkit-transform: rotate(0deg);  
      /* Standard syntax */	
      transform: rotate(0deg);
}

.discography img{
  position: absolute;
  top: 60%;
  left: 7%;
  width: 164px !important;
  height: 286px !important;
        /* Safari */
        -webkit-transform: rotate(0deg);  
        /* Standard syntax */	
        transform: rotate(0deg);
}

.biography img{
  position: absolute;
  top: 56%;
  left: 50%;
  width: 199px !important;
  height: 340px !important;
  /* Safari */
  -webkit-transform: rotate(0deg);  
  /* Standard syntax */	
  transform: rotate(0deg);
}


/* Menu Button */

.photogallerybtn {
  /* Width and height */
  width: 116px;
  height: 34px;

  /* Font styles */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;

  /* Flexbox properties */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 15px;
  gap: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Other styles */
  position: absolute;
  left: 9%;
  top: 11%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  border-radius: 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.musicvideobtn {
  /* Width and height */
  width: 109px;
  height: 34px;

  /* Font styles */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;

  /* Flexbox properties */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 15px;
  gap: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Other styles */
  position: absolute;
  left: 45%;
  top: 18%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
}

.moviesbtn {
  /* Width and height */
  width: 146px;
  height: 34px;

  /* Font styles */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;

  /* Flexbox properties */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 15px;
  gap: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Other styles */
  position: absolute;
  left: 23%;
  top: 39%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
}

.discographybtn {
  /* Width and height */
  width: 111px;
  height: 34px;

  /* Font styles */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;

  /* Flexbox properties */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 15px;
  gap: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Other styles */
  position: absolute;
  left: 13%;
  top: 68%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
}

.biographybtn {
  /* Width and height */
  width: 123px;
  height: 34px;

  /* Font styles */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;

  /* Flexbox properties */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px 15px;
  gap: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Other styles */
  position: absolute;
  left: 57%;
  top: 53%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
}

/*à¹Œ    Navigtion  */
nav {
  background-color: white;
  z-index: 10;
}
.collapse .navbar-collapse .navbar-nav .nav-item .nav-link span {
  position: absolutes;
}

.audiowrap audio {
  width:230px;
  height: 28px;
}

.brand-audio {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
  
}