/*YouTube Header*/
.youtube {
    position: absolute;
    width: 100%;
    height: 38px;
    left: 22px;
    top: 10px;
}

.youtubesetting {
    position: absolute;
    width: 190px;
    height: 38px;
    right: 5%;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(196, 196, 196, 0.15);
    border-radius: 5px;
}

.youtubesetting img{
    width: 28px;
    height: 28px;
    margin-right: 10px;
}


/*Music Video section*/
.container {
    position:relative;
    top: 80px;
  }

.mvcolumn{
    position: relative;
    padding-right: 20%;
}


.mv {
    
    display: flex;
    flex-direction: column;      
    position: relative;
    
    width: 359px;
    height: 266px;
    padding: 10px;
    margin-right: 0px;
}

.mvvideo {
    width: 359px;
    height: 196px;
    left: 0px;
    top: 0px;
}

.mvvideo video{
    width: 100%;
    height: 100%;
    object-fit: cover; /* adjust the size of the video to cover the entire box */
}

.mvdetail {
    display: flex; /* add display flex to the parent element */
}

.mvdetail img {
    margin-top: 10px;
    position: absolute;
    left: 1.39%;
    right: 88.58%;
    top: 78.95%;
    bottom: 8.52%;
  }


.mvtext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
    gap: 5px;
    display: flex;
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    top: 210px;
    width: 292px;
}


.mvtext h6{
    width: 280px;
    height: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    position: relative;
    color: #030303;

}

.mvtext p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: relative;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #606060;
}