html {    
  background: url('/assets/IU/Homepage/homepagebg.mp4') repeat center fixed;     
  background-size: contain;
}
nav {
  background-color: white;
  z-index: 10;
}
.container{
    position: absolute;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
video {
  width: 100%;
  height: auto;
  filter:blur(4px);

}
.vidContainer faceVideo{
    position: absolute;
    object-fit: cover;
    object-position: top;
    z-index: 0;
}

  /* The hero image */
.hero-image {
    position: absolute;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
  
  /* Place text in front of all elements */
.text {
  position: absolute;
  width: 324px;    height: 24px;
  left: 23px;
  top: 126px;
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 102.52%;
  color: #DCDDF3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2; /* Set the z-index to a value greater than 1 */
}

.IUtext {
  position: absolute;
  width: 162px;
  height: 106px;
  left: 23px;
  top: 138px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 116px;
  letter-spacing: 0.085em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2; /* Set the z-index to a value greater than 1 */
}

.leejieuntext {
  position: absolute;
  width: 232px;
  height: 147px;
  left: 23px;
  top: 236px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 102.52%;
  color: #DADBF9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2; /* Set the z-index to a value greater than 1 */
}

  /* Button */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 21px;
  gap: 7px;

  /* Font styles */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #000000;

  position: absolute;
  width: 156px;
  height: 48px;
  left: 213px;
  top: 705px;

  background: #F7F1FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
} 

.overlay {
    position: absolute; 
}

.blur {
    position: absolute;
    object-fit: cover;
    left: 0;
    bottom: 0;
    height: 100vh;; 
    z-index: 1;
}

  
